* {
  box-sizing: border-box;
}

body {
  font-family: Karla, sans-serif;
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

main {
  background-color: #F5F5F5;
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.instructions {
  text-align: center;
  margin-top: 0;
  padding-inline: 50px;
  padding-top: 0;
  color: #4A4E74;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.dice-container button {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  font-size: 1.7rem;
  font-family: Karla, sans-serif;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

button.roll-dice {
  background-color: #5035FF;
  height: 50px;
  white-space: noWrap;
  width: auto;
  padding: 6px 21px;
  border-radius: 5px;
  color: white;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 1.2rem;
  cursor: pointer;
}
